body {
  font-family: "Open Sans";
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  vertical-align: top;
  overflow: hidden;
  border-radius : .25rem;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#heatmap-container {
  border-radius : 0 0 .25rem .25rem;
}

#edge-importance-container{
  padding-bottom: 55%;
}

#arthitecture-designer-container{
  padding-bottom: 83%;
}

.performance-result {
  opacity: 0.5;
}

.recommend-accuracy{
  font-size : 13.2px;
}

.idc {
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
}
.lab {
  font-family: "Rajdhani", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  font-size: 10px;
}


#recommend-accuracy {
  text-align: center;
  font-size: 7;
}

.preset-cell {
  padding-bottom: 0.25rem;
}

#preset-col li {
  width: 100%;
}
#preset-name {
  text-align: center;
  font-size: 7;
}
.append-button {
  color: white;
}

.section-title {
  font-size: 10;
}

.tooltip-inner {
  max-width: 400px;
  text-align: left;
  padding: 10px;
}

.width-auto {
  width: auto;
}
